*{
	padding: 0;
	margin: 0;
}

body{
	background-color:#558C89;
}

div.sidebar{
	background-color:#74AFAD;
	position: fixed;
	height: 100%;
	width: 20%;
	margin: 0;	
}

div.top-border{
	background-color: #D9853B;
	position: fixed;
	width: 20%;
	height: 10px;
}

div.personal-info{
	position: fixed;
	height: 35%;
	width: 20%;
	margin: 0;
}

div.divider{
	background-color: #D9853B;
	position: fixed;
	top: 35%;
	width: 20%;
	height: 10px;
	
}

h3{
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	color: #ECECEA;
	text-align: center;
	padding-top: 15px;
}